@model IEnumerable<web_app.Models.Conjunto>
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Home Page";
    if (Context.Session.GetString("login") != null)
        if (Context.Session.GetString("login") != null)
        {
            var valorSessao = Context.Session.GetString("login");
            var login = JsonConvert.DeserializeObject<Login>(valorSessao);
            int id = login.TipoLogin;
            ViewBag.id = id;
        }
}

<main id="main">

    <!-- ======= Seção ======= -->
    <!-- Renderize os dados dos professores -->
    @foreach (var conjunto in Model)
    {
        <h3>Conjunto</h3>
        @foreach (var professor in conjunto.Professores)
        {
            <p>@professor.Nome</p>
            <!-- Outras propriedades e marcações -->
        }
    }
        @foreach (var conjunto in Model)
    {
        <h3>Conjunto</h3>
        @foreach (var estudante in conjunto.Estudantes)
        {
            <p>@estudante.Nome</p>
            <!-- Outras propriedades e marcações -->
        }
    }

<!-- Renderize os dados dos alunos -->
@*    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Bem-Vindo ao Phoenix!</h3>
                    <p class="fst-italic">
                        Somos um Sistema de Gestão Educacional
                    </p>
                    <ul>
                        <li>
                            <i class="bi bi-check-circle"></i> Nosso objetivo é facilitar o acesso dos alunos e
                            professores às
                            informações acadêmicas essenciais.
                        </li>
                        <li>
                            <i class="bi bi-check-circle"></i> Com uma interface Amigável e de facíl aprendizado
                        </li>
                        <li><i class="bi bi-check-circle"></i> Trazer organizacão e qualidade à sua gestão.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>*@
    <!-- Fim Info Seção -->
</main>
