@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web_app</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/web_app.styles.css" asp-append-version="true" />
    <!-- Favicons -->
    <link href="favicon/favicon-16x16.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Google Fontes -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CRaleway:300,300i,400,400i,500,500i,600,600i,700,700i%7CPoppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Arquivos -->
    <link href="~/lib/bootstrap/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/aos/aos.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/bootstrap/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/lib/bootstrap/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Template Main CSS Arquivo -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/tabela.css">
</head>
<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto">
                <img src="~/images/favicon-32x32.png" alt="" class="img-fluid"><a href="index.html">Phoenix</a>
            </h1>
            <nav id="navbar" class="navbar order-last order-lg-0">
            </nav>
            <!-- .navbar -->

            <a class="get-started-btn backgroud-teste" asp-area="" asp-controller="Login" asp-action="Logout">Login</a>
        </div>
    </header>
<!-- ======= Farelo de Pão ======= -->
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Faça parte do nosso time.</h2>
        <p>Envie-nos uma mensagem.</p>
    </div>
</div>
<!-- Fim Farelo-->
<!-- ======= Seção de Contato ======= -->
<section id="contact" class="contact">
    <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;"
                src="https://maps.google.com/maps?width=650&amp;height=350&amp;hl=en&amp;q=Av.HabibGabriel,1360-JardimBuscardi,Matão&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" allowfullscreen></iframe>
    </div>

    <div class="container" data-aos="fade-up">

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Localização</h4>
                        <p>
                            Av. Habib Gabriel, 1360 - Jardim Buscardi, Matão <br>
                            São Paulo, SP ,15990-539<br>
                            Brasil
                        </p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>contatophoenix@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Fone:</h4>
                        <p>+55 16 2016 2694</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="forms/contact.php" method="post" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Messagem" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Sua mensagem foi enviada. Obrigado!</div>
                    </div>
                    <div class="text-center"><button type="submit">Enviar</button></div>
                </form>

            </div>

        </div>

    </div>
</section>

<!-- Fim da Seção Contato -->

<section id="trainers" class="trainers section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Team</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="acessar">
                        <img src="~/images/trainer-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-content">
                        <h4>Vitor Stanke</h4>
                        <span>Desenvolvedor Web</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img acessar">
                        <img src="~/images/trainer-2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-content">
                        <h4>Kamila Gomes</h4>
                        <span>Designer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img acessar">
                        <img src="~/images/trainer-6.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-content">
                        <h4>Francisco Amoroso</h4>
                        <span>Desenvolvedor Web</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body></html>

